
<div class="container-fluid mainz_header" style="flex-grow: 1;">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">

                <div class="col-md-5 col-12 main_header_right">
                    <figure>
                        <img src="pics/about1.jpeg" class="image-fluid" alt="talha" title="talha">
                    </figure>
                    </div>

                <div class="col-md-7 col-12 main_header_left">
                    <p>Thanks for Visiting</p>
                    <h1>I am a <span class="wit">Backend Developer</span> of Website and AI learner</h1>
                    <a href="https://github.com/M-TALH007" target="Talha"><button>About Me</button></a>
                </div>
               
            </div>

        </div>
    </div>
</div>
