@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

    p, h1, h2, h3, a, ul{
      margin: 0;
      padding: 0;
      text-decoration: none;
      color: #222;
    }
    
    h2{
      margin-top:55px;
      font-size: 20px;
      /* background-color: aqu  a; */
      /* display: inline; */
    }
    h3{
      text-transform: capitalize;
      margin-bottom: 8px;
    }
    .content{
      margin-left: 69px;
      margin-bottom: 400px;
      font-size: 30px;

    }
    .content h3{
      color: rgb(187, 178, 53);
      font-size: 40px;
    }

    /* index styles */
    .blogs a{
      display: block;
      margin: 40px 0;
      padding-left: 30px;
      border-left: 6px solid rgb(20, 220, 137);
    }
    .blogs a:hover h3{
      color: rgb(204, 59, 156);
    }

    /* details styles */
    .details{
      position: relative;
    }
    .delete{
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
      padding: 8px;
    }
    .operation-btn{
      margin-left:40px;
    }
    button {
      border:none;
      font-size: larger;
      cursor: pointer;
      transition-duration: 0.4s;
      height:40px;
      margin-top: 20px;
      width: 100px;
      margin-left: 70px;
    }
    
    button:hover {
      background-color: #303631; /* Green */
      color: white;
    }
    .delete:hover{
      cursor: pointer;
      box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    }

    /* create styles */
    .create-blog form{
      max-width: 400px;
      margin: 0 auto;
    }
    .create-blog input,
    .create-blog textarea{
      display: block;
      width: 100%;
      margin: 5px 0;
      padding: 8px;
    }
    .create-blog label{
      display: block;
      margin-top: 14px;
      color:rgb(47, 19, 75);
      font-weight: 550;
    }
    .create-blog button{
      margin-top: 10px;
      background: crimson;
      color: white;
      padding: 6px;
      border: 0;
      font-size: 1.2em;
      cursor: pointer;
      transition-duration: 0.5s;
    }
    .create-blog button:hover {
      background-color: #09a723; /* Green */
    }
    .sub{
      text-align: center;
    }

    span{
      font-weight: bolder;
    }

    